<aside class="filter-container">

        <h2 class="filter-title">Recipe Filter</h2>

        <div class="filter-input-container">
          <fieldset id="filter-time" class="filter-fieldset">
            <legend>Length of Time</legend>
            <div>
              <input type="checkbox" name="filter-time" id="filter-time-short" value="short" checked>
              <label for="filter-time-short">Short</label>
            </div>
            <div>
              <input type="checkbox" name="filter-time" id="filter-time-medium" value="medium" checked>
              <label for="filter-time-medium">Medium</label>
            </div>
            <div>
              <input type="checkbox" name="filter-time" id="filter-time-long" value="long" checked>
              <label for="filter-time-long">Long</label>
            </div>
          </fieldset>
        </div>

        <div class="filter-input-container">
          <fieldset id="filter-difficulty" class="filter-fieldset">
            <legend>Difficulty</legend>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-easy" value="easy" checked>
              <label for="filter-difficulty-easy">Easy</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-moderate" value="medium" checked>
              <label for="filter-difficulty-medium">Moderate</label>
            </div>
            <div>
              <input type="checkbox" name="filter-difficulty" id="filter-difficulty-hard" value="hard" checked>
              <label for="filter-difficulty-hard">Hard</label>
            </div>
          </fieldset>
        </div>

        <div class="filter-input-container">
          <fieldset id="" class="filter-fieldset">
            <legend>Diet</legend>
            <div class="filter-input-element">
            <select id="filter-diet" class="filter-input" name="filter-diet">
              <option selected value="">Any</option>
              <option>Vegan</option>
              <option>Vegetarian</option>
            </select>
          </div>
          </fieldset>
        </div>
        <div class="filter-submit">
          <button id="filter-submit-button">Apply Filter</button>
        </div>
</aside>