<header>

    <div class="header-image-container">
        <img src="./Food.png" alt=" ">
    </div>

    <h1 class="site-title"><a href="#">Cookbook</a></h1>
    
    <div class="header-image-container">
        <img src="./Food.png" alt=" ">
    </div>


</header>