<div class="recipe">
    <div class="recipe-contents">
        <div class="recipe-photo">
            <img src="{{photoURL}}" alt="{{name}}">
        </div>
        <div class="recipe-description">
            <p>{{description}}</p>
        </div>
        <div class="recipe-rating">
            <p>{{rating}}</p>
        </div>
    </div>
</div>