<div class="recipe-comment">
    <div class="comment-text-container">
        <span class="comment-text">{{comment}}</span>
    </div>
    <div class="comment-rating-container">
        <span class="comment-rating">{{userRating}}/100</span>
    </div>
</div>