<div class="recipe-comment">
    <div class="comment-text-container">
        <p class="comment-text">{{comment}}</p>
    </div>
    <div class="comment-rating-container">
        <p class="comment-rating">{{userRating}}/100</p>
    </div>
</div>