{{> header}}

<main class="content">

    <div class="add-recipe-body">

        <div class="recipe-input-element">
            <label for="recipe-name-input">Name of Recipe</label>
            <input type="text" id="recipe-text-input"></input>
        </div>

        <div class="recipe-input-element">
            <label for="recipe-short-description-input">Short Recipe Description</label>
            <input type="text" id="recipe-text-input"></input>
        </div>

        <div class="recipe-input-element">
            <label for="recipe-long-description-input">Item description</label>
            <input type="text" id="recipe-text-input"></input>
        </div>

        <div class="recipe-input-container">
          <fieldset id="recipe-time" class="recipe-fieldset">
            <legend>Length of Time</legend>
            <div>
              <input type="radio" name="recipe-time" id="recipe-time-short" value="short">
              <label for="recipe-time-short">Short</label>
            </div>
            <div>
              <input type="radio" name="recipe-time" id="recipe-time-medium" value="medium">
              <label for="recipe-time-medium">Medium</label>
            </div>
            <div>
              <input type="radio" name="recipe-time" id="recipe-time-long" value="long">
              <label for="recipe-time-long">Long</label>
            </div>
          </fieldset>
        </div>

        <div class="recipe-input-container">
          <fieldset id="recipe-difficulty" class="recipe-fieldset">
            <legend>Length of Time</legend>
            <div>
              <input type="radio" name="recipe-difficulty" id="recipe-difficulty-easy" value="easy">
              <label for="recipe-difficulty-easy">Easy</label>
            </div>
            <div>
              <input type="radio" name="recipe-difficulty" id="recipe-difficulty-medium" value="medium">
              <label for="recipe-difficulty-medium">Medium</label>
            </div>
            <div>
              <input type="radio" name="recipe-difficulty" id="recipe-difficulty-hard" value="hard">
              <label for="recipe-difficulty-hard">Hard</label>
            </div>
          </fieldset>
        </div>

        <div class="recipe-input-container">
          <fieldset id="recipe-diet" class="recipe-fieldset">
            <legend>Recipe Diet</legend>
            <div>
              <input type="checkbox" name="recipe-diet" id="recipe-diet-vegan" value="vegan">
              <label for="recipe-difficulty-vegan">Vegan</label>
            </div>
            <div>
              <input type="checkbox" name="recipe-diet" id="recipe-diet-vegetarian" value="vegetarian">
              <label for="recipe-diet-vegetarian">Vegetarian</label>
            </div>
          </fieldset>
        </div>

    </div>

</main>