<main>
    
    <div class="home-content">
        <h1 class="site-title">Cookbook</h1>
        <input type="text" class="main-search" placeholder="Search..">
        <div class="search-buttons">
            <button type="button" id="search-button">Search</button>
            <button type="button" id="advanced-search-button">Advanced Search</button>
        </div>
    <div>
    
</main>

{{> addRecipeModal}}