<main>

    <div class="home-content">
        <h1 class="site-title">Cookbook</h1>
        <form method="post" action="/search">
            <div class="search-buttons">
                <input type="text" name='searchText' class="main-search" id="text-input" placeholder="Enter ingredients here..."></input>
        	</div>

        	<input type="submit" value="Advance Search" id="advanced-search-button"></input>
        </form>

    <div>


</form>

</main>

