body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: darkgoldenrod;
}
.content{
    display: flex;
}

/* #################################################################################################################
                                                Home Page Styling
   ################################################################################################################# */
.home-content{
    margin-top: 15%;
    text-align: center;
    display: block;
}
.site-title{
    font-size: 3.0em;
    margin: 1%;
    color: rgb(83, 31, 31);
}
.main-search{
    border: solid grey 2px;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
    min-width: 400px;
    box-shadow: 0 0 3px grey;
}
.search-buttons{
    margin: 1%;
}
button{
    font-style: normal;
}
#search-button, #advanced-search-button{
 	border:none;
    border-radius: 20px;
    padding: 5px;
    width: 8%;
    min-width: 130px;
    text-decoration: none;
    margin: 0 10px 0 10px;
}
#advanced-search-button:hover
{
	border-style: solid;
    border-color:#2F4F4F;
    border-width: 2px;
}
#add-recipe{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 200px;
    height: 75px;
    font-size: 1.3em;
    font-weight: bold;

    box-shadow: 5px 5px 20px;

    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease;
    border-radius: 20px;
}
#add-recipe:hover
{
	transform: scale(1.2);
	border-style: solid;
    border-color: #2F4F4F;
    border-width: 3px;

}


/* #################################################################################################################
                                                Results Page Styling
   ################################################################################################################# */
#results{
    width: 100%;
    min-width: 650px;
}

.recipeResult{
    margin: 10px;
    width: 95%;
    display: inline-block;
}

#result-short{
    border: solid black 3px;
    border-radius: 5px;
    display: flex;
    height: 125px;
    padding: 5px;
    background-color: beige;
}

.results-image-container{
    display: inline-block;
}

.results-image-container img{
    max-height: 125px;
    max-width: 200px;
    border-radius: 5px;
}

.short-results-main-container{
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 100%;
}

.short-results-title{
    font-weight: bold;
    font-size: 25px;
}

.short-results-content{
    display: flex;
}

.short-results-description{
    display: inline-block;
}

.short-results-attributes{
    display: inline-flex;
    flex-direction: column;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-top: -15px;
}

.short-results-time{
    display: inline-block;
    border: solid darkgoldenrod 2px;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    margin:4px;
}

.short-results-difficulty{
    display: inline-block;
    border: solid darkgoldenrod 2px;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    margin: 4px;
}

.short-percent-match{
    display: inline-block;
    border: solid darkgoldenrod 2px;
    border-radius: 2px;
    padding: 2px 5px 2px 5px;
    margin: 4px;
}

#result-expanded{
    border: solid black 3px;
    border-top: none;
    border-radius: 5px;
}

.result-expanded-content{
    display: flex;
    background-color: beige;
}

.long-decription-container{
    display: inline-block;
    width: 70%;
    margin: 10px;

}

.results-ingredients-container{
    display: inline-block;
    text-align: left;
    width: 30%;
    margin: 10px;
    margin-left: auto;
}

.results-ingredients-container ul{

}

.hidden{
    display: none;
}

/* #################################################################################################################
                                                Filter Box Styling
   ################################################################################################################# */
.filter-container{
    position: relative;
    height: 500px;
    width: 250px;
    min-width: 175px;
    border: solid black 3px;
    border-radius: 5px;
    margin: 10px;
    background-color: beige;
}

.filter-title{
    margin: 15px;
}

.filter-input-container{
    margin: 5px;
}

.filter-submit{
    text-align: center;
    margin: 10px;
}

#filter-submit-button{
    width: 75%;
    border-color:white;
    border-radius: 5px;
    background-color: darkgoldenrod;
    color: beige;
    padding: 5px;
}
#filter-submit-button:hover
{
	border-style: solid;
    border-color:#2F4F4F;
    border-width: 2px;
    background-color: lightgrey;
    color: black;
}

/* #################################################################################################################
                                                Header Styling
   ################################################################################################################# */

a {
    text-decoration: none;
    color: rgb(83, 31, 31);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image-container img {
    max-height: 200px;
    max-width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

.site-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
}

/* #################################################################################################################
                                                addRecipe Page Styling
   ################################################################################################################# */

.add-recipe-body {
    width: 1500px;
    height: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border: solid black;
    font-size: 35px;
}

.recipe-input-element {
    border: solid black;
    margin: 5px;
    height: 60px;
}

.recipe-input-container {
    margin: 10px;
}

#post-recipe {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* #################################################################################################################
                                                recipe page
   ################################################################################################################# */


.recipe-container {
    width: 80%;
    margin-left: 1%;
    margin-right: 1%;
}

.recipe-title-container {
    text-align: center;
    font-size: 25px;
    width: auto;
    height: auto;
    background-color: white;
    border: solid black 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}

.recipe-image-container img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px
}

.recipe-description-container {
    width: auto;
    height: auto;
    background-color: white;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
    border-radius: 5px;
    padding: 10px;
}

.recipe-instructions-container {
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
    border-radius: 5px;
    width: auto;
    height: auto;
    background-color:white;
    font-weight: bold;
}

.recipe-instructions ul{
    list-style-type: decimal;
}

.recipe-ingredients-container {
    margin: 25px;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
    height: min-content;
    background-color: white;
    font-weight: bold;
    padding-left: 20px;
}

.recipe-ingredients ul{
    list-style-type: circle;
}

.recipe-detail-container {
    margin: 25px;
    border: solid black 3px;
    border-radius: 5px;
    width: 350px;
    height: min-content;
    background-color: white;
    font-weight: bold;
    padding-left: 20px;
}

h2, h1 {
    font-family: Roboto;
    text-align: center;
    color: rgb(83, 31, 31);
}

.recipe-comments-container {
    height: auto;
    width: 100%;
    margin-top: 100px;
}

.recipe-comments-container h2{
    border: solid black 3px;
    width: 150px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    background-color:white;
}

.comment{
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    border: solid black 3px;
    border-radius: 5px;
    background-color:white;
    line-height: 50px;
}

.comment-content{
    margin: 15px;
}

/* #################################################################################################################
                                                404 Page
   ################################################################################################################# */

.error-content {
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}