body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: darkgoldenrod;
}
.content{
    display: flex;
}

/* #################################################################################################################
                                                Home Page Styling
   ################################################################################################################# */
.home-content{
    margin-top: 15%;
    text-align: center;
    display: block;
}
.site-title{
    font-size: 3.0em;
    margin: 1%;
    color: rgb(83, 31, 31);
}
.main-search{
    border: solid grey 2px;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
    min-width: 400px;
    box-shadow: 0 0 3px grey;
}
.search-buttons{
    margin: 1%;
}
button{
    font-style: normal;
}
#search-button, #advanced-search-button{
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 8%;
    min-width: 130px;
    text-decoration: none;
    margin: 0 10px 0 10px;
    
}
#add-recipe{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 200px;
    height: 75px;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}


/* #################################################################################################################
                                                Results Page Styling
   ################################################################################################################# */
#results{
    width: 100%;
    min-width: 650px;
}

.recipeResult{
    margin: 10px;
    width: 95%;
    display: inline-block;
}

#result-short{
    border: solid black 3px;
    border-radius: 5px;
    display: flex;
    height: 125px;
    padding: 5px;
}

.results-image-container{
    display: inline-block;
}

.results-image-container img{
    max-height: 125px;
    max-width: 200px;
    border-radius: 5px;
}

.short-results-main-container{
    display: inline-block;
    margin: 0 10px 0 10px;
    width: 100%;
}

.short-results-title{
    font-weight: bold;
    font-size: 25px;
}

.short-results-content{
    display: flex;
}

.short-results-description{
    display: inline-block;
}

.short-results-attributes{
    display: inline-flex;
    flex-direction: column;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-top: -15px;
}

.short-results-time{
    display: inline-block;
    border: solid grey 1px;
    padding: 2px 5px 2px 5px;
    margin:4px;
}

.short-results-difficulty{
    display: inline-block;
    border: solid grey 1px;
    padding: 2px 5px 2px 5px;
    margin: 4px;
}

.short-percent-match{
    display: inline-block;
    border: solid grey 1px;
    padding: 2px 5px 2px 5px;
    margin: 4px;
}

#result-expanded{
    border: solid black 3px;
    border-top: none;
    border-radius: 5px;
}

.result-expanded-content{
    display: flex;
}

.long-decription-container{
    display: inline-block;
    width: 70%;
    margin: 10px;

}

.results-ingredients-container{
    display: inline-block; 
    text-align: left;
    width: 30%;
    margin: 10px;
    margin-left: auto;
}

.results-ingredients-container ul{
   
}

.hidden{
    display: none;
}

/* #################################################################################################################
                                                Filter Box Styling
   ################################################################################################################# */
.filter-container{
    position: relative;
    height: 500px;
    width: 250px;
    min-width: 175px;
    border: solid black 3px;
    border-radius: 5px;
    margin: 5px;
}

/* #################################################################################################################
                                                Header Styling
   ################################################################################################################# */

a {
    text-decoration: none;
    color: rgb(83, 31, 31);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-image-container img {
    max-height: 300px;
    max-width: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

.site-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.342);
}